{{>layouts/footer}}

<table class="table">
    <thead>

    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}} <!--모델에 등록한 article은 뷰 페이지에서 mustache문법인 이중줄괄호를 이용해 출력한다.-->
    <tr>
        <th>{{id}}</th>
        <td><a href="/articles/{{id}}">{{title}}</a></td>
        <td>{{content}}</td>
    </tr>
    {{/articleList}}
    <!--변수가 데이터 묶음일 경우 그 안쪽에 있는 코드를 반복 실행한다.-->
    </tbody>
</table>

<a href="/articles/new">New Article</a>

{{>layouts/header}}